<center>
<B>VOICEMAIL Menu Items<B>

<TABLE>
<TR><TD> 

  <table>
     <TR> <Th>Menu Id</Th> <Th>Title</Th> 
          <Th>Menu Type</Th> 
         <TMPL_IF NAME=param1> 
          <Th>Param1 </Th> 
         </TMPL_IF> 
         <TMPL_IF NAME=param2> 
          <Th>Param2 </Th> 
         </TMPL_IF> 
         <TMPL_IF NAME=param3> 
          <Th>Param3 </Th> 
         </TMPL_IF> 
     </tr>
     <TR> <Td><TMPL_VAR NAME='menu_id'></td>
          <TD><TMPL_VAR NAME='title'></TD>
          <TD><TMPL_VAR NAME='menu_type_code'>  </Td> 
          <TMPL_IF NAME=param1> 
             <TD><TMPL_VAR NAME='param1'>  </Td> 
           </TMPL_IF> 
          <TMPL_IF NAME=param2> 
             <TD><TMPL_VAR NAME='param2'>  </Td> 
           </TMPL_IF> 
          <TMPL_IF NAME=param3> 
             <TD><TMPL_VAR NAME=param3>  </Td> 
           </TMPL_IF> 
     </TR>
  </TABLE>
  <TABLE> 
     <TR> <Td> Menu Options </TD>
           <Td><INPUT TYPE="text" name="menu_item_id" value="<TMPL_VAR NAME='menu_item_id'>"> </Td> 
      </tr>
     <TR>
        <td> Title </TD> 
        <Td><INPUT TYPE="text" name="menu_item_option" value="<TMPL_VAR NAME='menu_item_option'>"> </Td>
     </TR>
     <TR> 
        <TD> Destination Menu Id </TD> 
        <Td><INPUT TYPE="text" name="dest_menu_id" value="<TMPL_VAR NAME='dest_menu_id'>"> </Td>
     </TR>
     <TR>
        <td> Action (optional) </tH> 
        <Td><INPUT TYPE="text" name="menu_item_action" value="<TMPL_VAR NAME='menu_item_action'>"> </Td>
     </tr>
     <TR><TD COLSPAN=2><INPUT TYPE='submit' value='Add'></td></tr>
  </table>
  </td></tr> </table>
</center> 

