<B>Add Menu </b><BR>
<FORM ACTION='admin.cgi' method='POST'> 
<TABLE>
<TR><TD> 
 Please select the following type of menu u would like to add.
</td> 
</tr>
<TR>
<td>

<table>
<tr><td><input type='radio' name='new_menu_type' value='XFER'> </td>
<td>  Static transfer: This will be an option that will allow the user to transfer directly to a specific extension.
</td>

<tr><td><input type='radio' name='new_menu_type' value='AA'> </td>
<td>  Auto Attendant Option: This will be a menu that you plan to link to your auto attendant
</td>

<tr><td><input type='radio' name='new_menu_type' value='AA'> </td>
<td>  User Menu Option: This will be a menu requires the user to be logged in and will be linked off of your user menu.
</td>

</tr>

</TABLE>

</form>
</center> 
