<TABLE border=0 celpadding=3 cellspacing=5 > 
<TR>
   <Td colspan=2 align=center><b>Converge-Pro Sounds</b> </Td> 
</TR>
<!-- <TMPL_VAR name=mod> --> 
<TMPL_IF name='msg'> 
<TR>
   <Td colspan=2 align=center><font color='blue'><TMPL_VAR NAME='msg'></font> </Td> 
</TR>
</TMPL_IF> 

<TR>
   <Td>Select from the following options</Td> 
</TR>
<TR>
   <Td><a href="admin.cgi?mod=Sounds&func=view_sounds">View available sounds</a></Td> 
</TR>
<TR>
   <Td><a href="admin.cgi?mod=Sounds&func=view_new_sounds">View new sounds</a></Td> 
</TR>
</table>
