<B>Change User's Password </b>

<FORM action='admin.cgi' method='Post'>

<INPut type="hidden" name="mod" value="<TMPL_VAR name='mod'>">
<INPut type="hidden" name="func" value="<TMPL_VAR name='func'>">
<INPut type="hidden" name="ext" value="<TMPL_VAR name='ext'>">

<TABLE border=0 celpadding=3 cellspacing=5 > 
 <TMPL_IF name='error_message'>
     <tr><td colspan=2>
         <FONT COlOR='red'><TMPL_VAR name='error_message'></font>
     </td></tr>
 </TMPL_IF>
  <TR>
     <Td>Extension </Td> 
     <Td> <TMPL_VAR name='ext'>
     </Td> 
  </tr><tr>
     <Td>Name </Td> 
     <Td> <TMPL_VAR name='full_name'> </Td> 
  </tr><tr>
     <td colspan=2> <i>Enter the new password below and apply</i></td>
  </tr><tr>
     <Td>Password </Td> 
     <TD><INPUT TYPE='PASSWORD' NAME="password" value="<TMPL_VAR name='password'>" size=10> </td>
  </tr><tr>
     <Td>Repeat Password </Td> 
     <TD><INPUT TYPE='PASSWORD' NAME="password_confirm" value="<TMPL_VAR name='repeat_password'>" size=10> </td>
  </tr>
  <tr><td colspan=2> 
  <input type='submit' name='Save' Value='Apply Changes'> 

  </td>
  </tr>
</table>
</form>
